/*principal contain */
.music-player {
  cursor: pointer;
  font-family: "Arial", sans-serif;
  display: grid;
  grid-template-columns: 80px .8fr .2fr;
  grid-template-rows: 80px;
  align-items: center;
  width: 100%;
  transition: transform .2s ease-in-out;
}
.music-player:hover {
  transform: scale(120%, 120%);
}
.music-player img {
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
}
.music-player button {
  font-size: var(--font-size-medium);
}
.music-player button {
  grid-column: 2 / 3;
  font-size: var(--font-size-medium);
}
.music-title-span {
  grid-column: 2 / 3;
}
.music-btn-span {
  grid-column: 3 / 4;
}
