.each-slide.each-slide {
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 60px;
  /* width: 250px;
  height: 350px; */
  height: 350px;
  font-weight: bold;
  color: #101010;
  border-radius: 16px;
  border: 7px solid #3e866a;
  background-color: rgb(230, 230, 230);
  transition: transform .2s ease-in-out;
}

.each-slide.each-slide:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 2px #d3d3d3;
  transform: scale(110%, 110%);
}

.each-slide.each-slide img {
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  overflow: hidden;
  background: #000;
  background-color: black;
  border: 1px solid white;
}

.each-slide.each-slide h2 {
  grid-row: 2 / 3;
  place-self: center;
  font-size: 1.25rem;
}

.slick-prev {
  position: absolute;
  left: -2.5%;
  visibility: visible;
  transform: 0;
  z-index: 1;
  color: rgb(0, 0, 0);
}
.slick-next {
  position: absolute;
  right: -2.5%;
  color: rgb(0, 0, 0);
  z-index: 1;
  size: 1rem;
}

/* .each-slide > img {
  width: 200px;
  height: 200px;
  object-fit: fill;
  margin-bottom: 15%;
  border-radius: 10px;
  background-color: black;
  border: 1px solid white;
} */

.slick-track {
  transform: none;
}

.slick-track:first-of-type div {
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 250px;
}

.slider-containerArtist {
  width: 90%;
}

.slick-prev::before {
  font-size: 2rem;
}

.slick-next::before {
  font-size: 2rem;
}
