.slick-prev {
  left: 30px;
  visibility: visible;
  transform: 0;
  z-index: 2;
  color: aliceblue;
}
.slick-next {
  height: 100px;
  width: 100px;
  right: 30px;
  z-index: 2;
}
.each-slide {
  text-align: center;
}
.each-slide > img {
  width: 200px;
  height: 100px;
  object-fit: cover;
  margin-top: 15%;
  margin-bottom: 15%;
  border-radius: 10px;
  background-color: black;
  border: 1px solid white;
}
.slick-track {
  transform: none;
}
