.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: none;
}
.link-menu {
  color: initial;
  transition: 0.2s;
}

.flex {
  display: none;
  align-items: center;
}
header ul {
  gap: 30px;
}

header ul li .link-menu {
  color: rgb(244 244 245);
  opacity: 0.9;
  font-size: 0.88;
  font-weight: 500;
}
header ul li .link-menu:hover {
  color: rgb(93, 188, 252);
  opacity: 1;
  font-size: 0.9;
}

header button {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  all: unset;
}
.dispart {
  display: none;
}
header {
  justify-content: space-between;
  padding: 0 2rem;
}

.menus {
  display: none;
}
/* model*/
header .fixed {
  position: fixed;
  inset: 0;
  background-color: rgba(88, 88, 98, 0.693);
  z-index: 2;
}

header ul.model {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  text-align: center;
  background: #19181b;
  display: none;
}
header ul.model li {
  border-bottom: solid 1px rgba(49, 49, 49, 0.844);
  padding-bottom: 2rem;
}

header ul.model li:last-child {
  border: none;
}

.fixed ul li button {
  all: unset;
  padding: 10px;
  color: red;
  font-size: 33px;
  font-weight: bold;
  background: none;
  position: absolute;
  left: 80px;
  top: 58px;
}

.fixed ul li button:hover {
  font-size: 34px;
  transition: 0.3s;
}
.burger-menu {
  height: 40px;
}
.close {
  float: left;
  border: none;
}

@media (max-width: 770px) {
  header.flex nav {
    display: none;
    z-index: 50;
  }
  header ul.model {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 3rem;
    text-align: center;
    background: #19181b;
    display: flex;
    flex-direction: column;
    z-index: 50;
  }

  .menus {
    display: block;
    z-index: 2;
  }

  header ul.model li:first-child {
    border: none;
    z-index: 50;
  }

  .flex {
    display: flex;
    align-items: center;
  }
}
