.art-detail-section-container {
  display: flex;
  flex-flow: column wrap;
  padding: 0 2rem 2rem 0;
  justify-content: center;
  width: 100%;
  gap: 3rem;
  align-items: center;
}
.art-detail-title {
  text-transform: uppercase;
  font-size: var(--font-size-xl);
}
.art-detail-figure-container {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px 5px rgba(240, 240, 240, 0.5);
  background-color: var(--secondary-color);
}
.art-detail-img-artist {
  width: auto;
  height: 250px;
}
.art-detail-figcaption-artist {
  font-size: var(--font-size-medium);
}
.art-detail-figure-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px 5px rgba(240, 240, 240, 0.5);
  background-color: var(--secondary-color);
}
.article-artist-container {
  display: grid;
  padding: 0 1rem 0 0;
  gap: 1rem;
}
.article-artist-container p {
  font-size: var(--font-size-medium);
  text-align: justify;
}
.alb-detail-section-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: 100%;
  gap: 3rem;
}
.alb-detail-section-container a {
  width: 100%;
  height: 100%;
}
.alb-detail-figure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
  transition: transform .2s linear;
}
.alb-detail-figure-container > img {
  width: 200px;
  height: 200px;
}
.alb-detail-figure-container:hover {
  transform: scale(110%, 110%);
}
@media screen and (max-width: 768px) {
  .alb-detail-section-container {
    display: flex;
    flex-direction: column;
  }
  .art-detail-section-container {
    padding: 0;
  }
  .art-detail-figure-container {
    display: flex;
    flex-direction: column;
  }
}
